#!{{ lookPath "bash" }}

set -eufo pipefail

trap 'killall Dock' EXIT

declare -a remove_labels=(
  Books
  Calendar
  Contacts
  FaceTime
  Freeform
  Keynote
  Maps
  News
  Notes
  Numbers
  Pages
  Photos
  Reminders
  TV
)

for label in "${remove_labels[@]}"; do
  dockutil --no-restart --remove "${label}" || true
done

dockutil --add '/Applications/Google Chrome.app' --label 'Google Chrome' --replacing 'Google Chrome' --position 2 --no-restart
dockutil --add '/Applications/Ghostty.app' --label 'Ghostty' --replacing 'Ghostty' --no-restart
dockutil --add '/Applications/Visual Studio Code.app' --label 'Visual Studio Code' --replacing 'Visual Studio Code' --no-restart
dockutil --add '/Applications/Keka.app' --label 'Keka' --replacing 'Keka' --no-restart

{{- if (not .isWorkComputer) }}
dockutil --add '/Applications/GeForceNOW.app' --label 'NVIDIA GeForce NOW' --replacing 'NVIDIA GeForce NOW' --no-restart
{{- end }}
