{{- if lookPath "brew" -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

{{ $mas := dict
  "1569813296" "1Password for Safari"
  "1440147259" "AdGuard for Safari"
  "1019371109" "Balance Lock"
  "1287239339" "ColorSlurp"
  "640199958"  "Developer"
  "1381004916" "Discovery"
  "1444383602" "GoodNotes"
  "409183694"  "Keynote"
  "462058435"  "Microsoft Excel"
  "784801555"  "Microsoft OneNote"
  "985367838"  "Microsoft Outlook"
  "462062816"  "Microsoft PowerPoint"
  "1295203466" "Microsoft Remote Desktop"
  "462054704"  "Microsoft Word"
  "409203825"  "Numbers"
  "823766827"  "OneDrive"
  "409201541"  "Pages"
  "1176074088" "Termius"
  "6745342698" "uBlock Origin Lite"
  "497799835"  "Xcode" -}}

{{ if .gaming -}}
{{   $mas = merge $mas (dict  "1246969117" "Steam Link")}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ $ids := keys $mas | sortAlpha | uniq -}}
{{ range $ids -}}
mas "{{ index $mas . }}", id: {{ . }}
{{ end -}}
EOF

{{ end -}}
