[apply]
  # Cleanup whitespace by default when apply patches.
  whitespace = fix
[commit]
  # Sign commits with GPG
  gpgsign = true
  # Show the diff as a comment in the commit message template.
  verbose = true
[core]
  # Exclude everything this file. Used for general exclusions.
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
{{ if eq .chezmoi.os "windows" }}
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end -}}
[diff "ansible-vault"]
  cachetextconv = false
  textconv = ansible-vault view
[fetch]
  # Always prune when fetching (and pulling).
  prune = true
  # Write commit graph to speed up some repositories.
  writeCommitGraph = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[format]
  signOff = true
[gpg]
  format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  program = "/mnt/c/Users/cayce/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{   else }}
  program = "/opt/1Password/op-ssh-sign"
{{   end -}}
{{ else if eq .chezmoi.os "windows" }}
  program = "C:/Users/cayce/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{ else }}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{ end -}}
[init]
  defaultBranch = main
[log]
  # Print more readable dates in `git log`
  date = human
[merge]
  ff = only
[mergetool]
  # Don't keep backups of the merge tool inputs.
  keepBackup = false
  # Don't prompt before opening the merge tool.
  prompt = false
[pull]
  # Default to rebasing on pulls
  rebase = true
[push]
  # Automatically setup upstream tracking for new branches.
  autoSetupRemote = true
[rebase]
  # Run `git stash` if needed before a `git rebase`
  autoStash = true
  # Auto-add `--autosquash` to `git rebase`
  autoSquash = true
[rerere]
  # Store and re-use manual conflict resolution changes.
  enabled = true
[tag]
  forceSignAnnotated = true
  # Sort tags by newest first
  sort = -version:refname
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[user]
  # Email used in commit messages.
  email = cayce@caycehouse.com
  # Name used in commit messages.
  name = Cayce House
  # Signing Key.
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA1fE9oGJZyOliB/NeqUaz+QeYrwam+gcb+ZLrFRNp/l
[includeIf "gitdir:{{ .chezmoi.homeDir }}/src/work/"]
  path = {{ .chezmoi.homeDir }}/.config/git/work
