{{- if lookPath "brew" -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

{{ $brews := list
  "age"
  "atuin"
  "bat"
  "cloudflared"
  "direnv"
  "go-task/tap/go-task"
  "jq"
  "lsd"
  "moreutils"
  "sops"
  "starship"
  "topgrade"
  "viddy"
  "yt-dlp"
  "yq"
  "zoxide" -}}
{{ $casks := list
  "font-fira-code-nerd-font" -}}

{{ if .integration.kubernetes.enabled -}}
{{   $brews = concat $brews (list  "fluxcd/tap/flux" "helm" "helmfile" "k9s" "kubeconform" "kubernetes-cli" "kustomize" "siderolabs/tap/talosctl" "stern" "talhelper")}}
{{ end -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

brew completions link

brew install font-fira-code-nerd-font --cask # TODO: remove this when fixed: https://github.com/Homebrew/homebrew-bundle/issues/1620

{{ end -}}
