{{- if eq .chezmoi.os "windows" -}}
$Modules = @(
  "PSWindowsUpdate"
)

Set-PSResourceRepository -Name PSGallery -Trusted | Out-Null

$Modules | ForEach-Object {
  Install-PSResource -Name $_
}
{{ end -}}
