{{ if ne .chezmoi.os "windows" -}}
#!{{ lookPath "fish" }}

{{ $plugins := list
    "catppuccin/fish"
    "danhper/fish-ssh-agent"
    "decors/fish-colored-man"
    "edc/bass"
    "franciscolourenco/done"
    "jorgebucaran/autopair.fish"
    "jorgebucaran/fisher"
    "jorgebucaran/spark.fish"
    "kidonng/zoxide.fish"
    "nickeb96/puffer-fish"
    "patrickf3139/fzf.fish"
    "shoriminimoe/fish-extract" -}}

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher

fisher install {{ $plugins | join " " }}

{{ end -}}
