{{ if ne .chezmoi.os "windows" -}}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/*.tmTheme"]
{{ end -}}

{{ if .integration.kubernetes.enabled -}}
[".config/k9s/skins"]
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
{{ end -}}

{{ if .kde -}}
[".local/share/konsole/catppuccin-latte.colorscheme"]
    type = "archive-file"
    url = "https://github.com/catppuccin/konsole/archive/main.tar.gz"
    path = "themes/catppuccin-latte.colorscheme"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
{{ end -}}
