README.md
install.ps1
install.sh

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/autostart/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
{{ else }}
.config/fish/**
.config/starship.toml
{{ end }}

{{ if ne .osid "linux-fedora" }}
.chezmoiscripts/linux/fedora/**
{{ end }}
