{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{ $codename := promptStringOnce . "codename" "What is this machine's codename" }}

{{- $kubernetes := false -}}
{{- if ne .chezmoi.os "windows" -}}
{{-   $kubernetes := promptBoolOnce "Will this machine be used for kubernetes" -}}
{{- end -}}

[data]
  codename = {{ $codename | quote }}
  osid = {{ $osid | quote }}

[data.integration.kubernetes]
  enabled = {{ $kubernetes }}
