README.md
repos/
install.sh

{{ if ne .chezmoi.os "linux" -}}
.config/autostart/
{{ end -}}

{{ if (and (ne .chezmoi.os "linux") (ne .chezmoi.os "darwin")) -}}
.Brewfile
.config/bat/
.config/fish/
.config/starship.toml
{{ end -}}
