[alias]
  a = add
  ap = add -p
  amc = am --continue
  b = branch
  bm = branch --merged
  bnm = branch --no-merged
  c = commit
  cl = clonr
  ca = commit --amend
  cane = commit --amend --no-edit
  cf = commit --fixup
  cm = commit --message
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  d = diff
  dc = diff --cached
  dom = diff origin/master
  fo = fetch origin
  g = grep --line-number
  mbhom = merge-base HEAD origin/master
  mff = merge --ff-only
  ol = log --pretty=oneline
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pu = push
  puf = push --force
  pl = pull --rebase --autostash
  r = restore
  ra = rebase --abort
  rc = rebase --continue
  ri = rebase --interactive
  rl = reflog
  riom = rebase --interactive origin/master
  rpo = remote prune origin
  s = status -sb
  ss = commit --message snapshot --no-gpg-sign
  su = submodule update
  wd = diff --patience --word-diff
  yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
[apply]
  # Cleanup whitespace by default when apply patches.
  whitespace = fix
[commit]
  # Sign commits with GPG
  gpgsign = true
  # Show the diff as a comment in the commit message template.
  verbose = true
[core]
  editor = vim
  # Exclude everything this file. Used for general exclusions.
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
[diff "ansible-vault"]
  cachetextconv = false
  textconv = ansible-vault view
[fetch]
  # Always prune when fetching (and pulling).
  prune = true
  # Write commit graph to speed up some repositories.
  writeCommitGraph = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f
[format]
  signOff = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"
[init]
  defaultBranch = main
[log]
  # Print more readable dates in `git log`
  date = human
[merge]
  ff = only
[mergetool]
  # Don't keep backups of the merge tool inputs.
  keepBackup = false
  # Don't prompt before opening the merge tool.
  prompt = false
[pull]
  # Default to rebasing on pulls
  rebase = true
[push]
  # Automatically setup upstream tracking for new branches.
  autoSetupRemote = true
[rebase]
  # Run `git stash` if needed before a `git rebase`
  autoStash = true
  # Auto-add `--autosquash` to `git rebase`
  autoSquash = true
[rerere]
  # Store and re-use manual conflict resolution changes.
  enabled = true
[tag]
  forceSignAnnotated = true
  # Sort tags by newest first
  sort = -version:refname
[url "ssh://git@github.com/"]
  pushInsteadOf = https://github.com/
[user]
  # Email used in commit messages.
  email = cayce@caycehouse.com
  # Name used in commit messages.
  name = Cayce House
  # Signing Key.
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA1fE9oGJZyOliB/NeqUaz+QeYrwam+gcb+ZLrFRNp/l
