{{ if (ne .chezmoi.os "windows") }}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/themes/*.tmTheme"]
[".config/ghostty/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/ghostty/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/themes/*.conf"]
[".config/k9s/skins"]
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/dist/*.yaml"]
[".config/lsd/colors.yaml"]
    type = "file"
    url = "https://raw.githubusercontent.com/catppuccin/lsd/refs/heads/main/themes/catppuccin-latte/colors.yaml"
    refreshPeriod = "168h"
{{ end }}
