# OS-specific exclusions

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
.config/autostart/**
.config/environment.d/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
AppData/**
{{ else }}
.config/atuin/**
.config/bat/**
.config/fish/**
.config/ghostty/**
.config/homebrew/**
.config/starship.toml
.config/topgrade.toml
.local/bin/**
.vimrc
{{ end }}


# Distribution-specific exclusions

{{ if ne .osid "linux-fedora" }}
.chezmoiscripts/linux/fedora/**
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
.config/autostart/**
.config/ghostty/**
{{   end -}}
{{ end -}}

# Config-specific exclusions

{{ if not .kubernetes }}
.config/k9s/**
{{ end }}
