{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $osid := .chezmoi.os -}}
{{- if (hasKey .chezmoi.osRelease "id") -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hasNvidia := false -}}

{{- if (eq .chezmoi.os "linux") -}}
{{-   $hasNvidia = promptBoolOnce . "hasNvidia" "Does this machine have a NVIDIA GPU" false -}}
{{- end -}}

{{- $email := "cayce@caycehouse.com" -}}
{{- $workGitUrl := "" -}}

{{-   if $isWorkComputer -}}
{{-     $email = promptStringOnce . "email" "What is your work email address" $email -}}
{{-     $workGitUrl = promptStringOnce . "workGitUrl" "What is your work Git SSH URL (e.g. git.work.com)" "" -}}
{{-   end -}}

[data]
  email = {{ $email | quote }}
  isWorkComputer = {{ $isWorkComputer }}
  hasNvidia = {{ $hasNvidia }}
  osid = {{ $osid | quote }}
  workGitUrl = {{ $workGitUrl | quote }}
