{{- $isWorkComputer := promptBoolOnce . "isWorkComputer" "Is this your work computer" -}}
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $gaming := false -}}
{{- $gnome := false -}}
{{- $kde := false -}}
{{- $kubernetes := false -}}
{{- $nvidia := false -}}

{{- if ne .chezmoi.os "windows" -}}
{{-   if ne .chezmoi.os "darwin" -}}
{{-     $gnome = promptBoolOnce . "gnome" "Will GNOME be used on this machine" false -}}
{{-     $kde = promptBoolOnce . "kde" "Will KDE be used on this machine" false -}}
{{-     $nvidia = promptBoolOnce . "nvidia" "Does this machine have a NVIDIA GPU" false -}}
{{-   end -}}
{{-   $kubernetes = promptBoolOnce . "kubernetes" "Will this machine be used for kubernetes" false -}}
{{- end -}}

{{- $gaming = promptBoolOnce . "gaming" "Will this machine be used for gaming" false -}}

[data]
  gaming = {{ $gaming }}
  gnome = {{ $gnome }}
  isWorkComputer = {{ $isWorkComputer }}
  kde = {{ $kde }}
  kubernetes = {{ $kubernetes }}
  nvidia = {{ $nvidia }}
  osid = {{ $osid | quote }}

{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
[onepassword]
  command = "/mnt/c/Users/cayce/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe"
{{   end -}}
{{ end -}}
