{{ if ne .chezmoi.os "windows" -}}
[".config/bat/themes"]
    type = "archive"
    url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/themes/*.tmTheme"]
{{ end -}}

{{ if .kubernetes -}}
[".config/k9s/skins"]
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/main.tar.gz"
    exact = true
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/dist/*.yaml"]
{{ end -}}

{{ if .kde -}}
[".local/share/konsole"]
    type = "archive"
    url = "https://github.com/catppuccin/konsole/archive/main.tar.gz"
    stripComponents = 2
    refreshPeriod = "168h"
    include = ["**/themes/*.colorscheme"]
{{ end -}}
