{{ $repos := list
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/.repos/1password.repo"
  "https://download.docker.com/linux/fedora/docker-ce.repo"
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/.repos/google-chrome.repo"
  "https://downloads.k8slens.dev/rpm/lens.repo"
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/.repos/vscode.repo" -}}
{{ $copr := list -}}
{{ $packages := list
  "1password-cli"
  "1password"
  "akmod-nvidia"
  "code"
  "containerd.io"
  "docker-buildx-plugin"
  "docker-ce-cli"
  "docker-ce"
  "docker-compose-plugin"
  "google-chrome-stable"
  "https://dbeaver.io/files/dbeaver-ce-latest-stable.x86_64.rpm"
  "https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm"
  "https://github.com/xpipe-io/xpipe/releases/latest/download/xpipe-installer-linux-x86_64.rpm"
  "info"
  "lens"
  "libva-nvidia-driver.{i686,x86_64}"
  "lutris"
  "mangohud"
  "steam"
  "telnet"
  "virt-manager"
  "xorg-x11-drv-nvidia-cuda" -}}

{{ if .gnome -}}
{{   $packages = concat $packages (list
      "gnome-shell-extension-appindicator"
      "gnome-shell-extension-blur-my-shell"
      "gnome-shell-extension-caffeine"
      "gnome-shell-extension-dash-to-dock"
      "gnome-shell-extension-drive-menu"
      "gnome-tweaks") -}}
{{ end -}}

{{ if .kde -}}
{{   $copr = mustAppend $copr "kylegospo/wallpaper-engine-kde-plugin" -}}
{{   $packages = mustAppend $packages "wallpaper-engine-kde-plugin" -}}
{{ end -}}

{{ if eq .chezmoi.hostname "kc-workstation" -}}
{{   $copr = mustAppend $copr "lizardbyte/stable" -}}
{{   $packages = mustAppend $packages "Sunshine" -}}
{{ end -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ range $repos }}
{{ $sudo }}dnf config-manager addrepo --overwrite --from-repofile={{ . }}
{{ end }}

{{ range $copr }}
{{ $sudo }}dnf copr enable -y {{ . }}
{{ end }}

# https://rpmfusion.org/Howto/Multimedia
{{ $sudo }}dnf swap -y ffmpeg-free ffmpeg --allowerasing
{{ $sudo }}dnf4 update -y @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin

{{ $sudo }}dnf install -y {{ $packages | join " " }}

{{ $sudo }}chsh -s "$(which fish)" "$(whoami)"

{{ if eq .chezmoi.hostname "kc-workstation" }}
systemctl --user enable --now sunshine
{{ end }}
