{{- if lookPath "fish" -}}
#!{{ lookPath "fish" }}

{{ $plugins := list
    "catppuccin/fish"
    "franciscolourenco/done"
    "jorgebucaran/autopair.fish"
    "jorgebucaran/fisher"
    "kidonng/zoxide.fish"
    "nickeb96/puffer-fish" -}}

type fisher &>/dev/null || curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher

fisher install {{ $plugins | join " " }}

{{ end -}}
