{{- if lookPath "brew" -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

export HOMEBREW_NO_ANALYTICS=1
export HOMEBREW_NO_ENV_HINTS=1

{{ $taps := list
  "go-task/tap" -}}
{{ $brews := list
  "age"
  "atuin"
  "bat"
  "cloudflared"
  "cowsay"
  "doggo"
  "fastfetch"
  "fish"
  "gh"
  "go-task"
  "helm"
  "htop"
  "jq"
  "lsd"
  "lolcat"
  "moreutils"
  "netcat"
  "prettyping"
  "shellcheck"
  "sops"
  "starship"
  "tealdeer"
  "topgrade"
  "viddy"
  "vim"
  "yt-dlp"
  "yq"
  "zoxide" -}}
{{ $casks := list
  "font-fira-code-nerd-font" -}}

{{ if .kubernetes -}}
{{   $taps = concat $taps (list  "fluxcd/tap" "siderolabs/tap")}}
{{   $brews = concat $brews (list  "flux" "helm" "helmfile" "k9s" "kubecolor" "kubeconform" "kubernetes-cli" "kustomize" "stern" "talhelper" "talosctl")}}
{{ end -}}

brew bundle --file=/dev/stdin <<EOF
{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end -}}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
EOF

brew completions link

{{ end -}}
