cayce@caycehouse.com namespaces="git" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIA1fE9oGJZyOliB/NeqUaz+QeYrwam+gcb+ZLrFRNp/l
{{- if .isWorkComputer }}
{{ .email }} namespaces="git" ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMCpydEmqgALalmzUobU99MVGDOtErf4c8XeymjDnqWZ
{{- end }}
