{{ if (lookPath "orb") -}}
# Added by OrbStack: 'orb' SSH host for Linux machines
# This only works if it's at the top of ssh_config (before any Host blocks).
# This won't be added again if you remove it.
Include ~/.orbstack/ssh/config
{{- end }}

Include config.d/*
{{ if (not .isWorkComputer) -}}
Include ~/.ssh/1Password/config
{{- end }}

LogLevel ERROR

{{ if (ne .chezmoi.os "windows") -}}
Host *
  ControlMaster auto
  ControlPath {{ .chezmoi.homeDir }}/.ssh/sockets/%r@%h-%p
  ControlPersist 600
{{-   if (not .isWorkComputer) }}
{{-      if (eq .chezmoi.os "linux") }}
  IdentityAgent {{ .chezmoi.homeDir }}/.1password/agent.sock
{{-      else if (eq .chezmoi.os "darwin") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{-       end }}
{{-    end }}
{{- end }}

Host 10.*.*.* 192.168.*.* 172.1[6-9].*.* 172.2[0-9].*.* 172.3[0-1].*.*
    StrictHostKeyChecking no
    UserKnownHostsFile /dev/null

{{- if (not .isWorkComputer) }}
Host bakery
  HostName bakery
  User admin

Host octopi
  HostName octopi
  User caycehouse
{{- end }}
