Include config.d/*
{{ if (not .isWorkComputer) -}}
Include ~/.ssh/1Password/config
{{- end }}

LogLevel ERROR

{{ if (ne .chezmoi.os "windows") -}}
Host *
  ControlMaster auto
  ControlPath {{ .chezmoi.homeDir }}/.ssh/sockets/%r@%h-%p
  ControlPersist 600
{{-   if (not .isWorkComputer) }}
{{-      if (eq .chezmoi.os "linux") }}
  IdentityAgent {{ .chezmoi.homeDir }}/.1password/agent.sock
{{-      else if (eq .chezmoi.os "darwin") }}
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{       end }}
{{    end }}
{{ end -}}

Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bakery
  HostName bakery
  User admin

Host octopi
  HostName octopi
  User caycehouse
