Include config.d/*

LogLevel ERROR

{{ if ne .chezmoi.os "windows" }}
Host *
  ControlMaster auto
  ControlPath {{ .chezmoi.homeDir }}/.ssh/sockets/%r@%h-%p
  ControlPersist 600
  IdentityAgent {{ .chezmoi.homeDir }}/.1password/agent.sock
{{ end -}}

Host 192.168.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 172.16.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
Host 10.*.*.*
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host bakery
  HostName bakery
  User admin

Host octopi
  HostName octopi
  User caycehouse
