{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
#!{{ lookPath "bash" }}

{{ range .packages.wslUbuntu.repo }}
brew install {{ . }}
{{ end }}

{{   end }}
{{ end }}
