{{ if and (eq .osid "linux-fedora") (.gnome) -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

{{ $packages := list
  "gnome-shell-extension-appindicator"
  "gnome-shell-extension-blur-my-shell"
  "gnome-shell-extension-caffeine"
  "gnome-shell-extension-dash-to-dock"
  "gnome-shell-extension-drive-menu"
  "gnome-tweaks" -}}

{{ $sudo := "sudo " -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

{{ $sudo }}dnf install -y {{ $packages | join " " }}

{{ end -}}
