{{- if lookPath "flatpak" -}}
{{ $flatpaks := list
  "com.discordapp.Discord"
  "com.github.tchx84.Flatseal"
  "com.mattjakeman.ExtensionManager"
  "com.parsecgaming.parsec"
  "io.github.shiftey.Desktop"
  "org.gnome.Extensions"
  "org.mozilla.Thunderbird"
  "us.zoom.Zoom" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ template "sudo.tmpl" . }}flatpak remote-delete fedora --force || true
flatpak install -y {{ $flatpaks | join " " }}

{{- end -}}
