{{- if (lookPath "gsettings") -}}
#!{{ lookPath "bash" }}

set -eufo pipefail

# Disable version-check for gnome extensions.
gsettings set org.gnome.shell disable-extension-version-validation true

# Enable Maximize and Minimize window buttons (Tweaks > Windows).
gsettings set org.gnome.desktop.wm.preferences button-layout 'appmenu:minimize,maximize,close'
{{ end -}}
