{{- if lookPath "flatpak" -}}
{{ $flatpaks := list
  "com.discordapp.Discord"
  "com.github.tchx84.Flatseal"
  "io.github.shiftey.Desktop"
  "it.mijorus.gearlever"
  "md.obsidian.Obsidian"
  "org.mozilla.Thunderbird"
  "us.zoom.Zoom" -}}

{{ if .gaming -}}
{{   $flatpaks = concat $flatpaks (list
      "com.github.Matoking.protontricks"
      "com.heroicgameslauncher.hgl"
      "com.parsecgaming.parsec"
      "net.davidotek.pupgui2") -}}
{{ end -}}

{{ if .gnome -}}
{{   $flatpaks = concat $flatpaks (list
      "com.mattjakeman.ExtensionManager"
      "org.gnome.Extensions") -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

# Configure Flathub repository
{{ template "sudo.tmpl" . }}flatpak remote-delete fedora --force 2>/dev/null || true
{{ template "sudo.tmpl" . }}flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

# Install all flatpaks
flatpak install -y {{ $flatpaks | join " " }}

{{ end -}}
