set fish_greeting ""

fish_config theme choose catppuccin-mocha

{{ if (lookPath "orb") -}}
# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{- end }}
