set fish_greeting ""

fish_config theme choose catppuccin-mocha

{{ if (lookPath "lms") -}}
# Added by LM Studio CLI (lms)
set -gx PATH $PATH /Users/caycehouse/.lmstudio/bin
# End of LM Studio CLI section
{{- end }}

{{ if (lookPath "orb") -}}
# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{- end }}

{{ if (lookPath "agy") -}}
# Added by Antigravity
fish_add_path /Users/caycehouse/.antigravity/antigravity/bin
{{- end }}
