tap "go-task/tap"
brew "atuin"
brew "bat"
brew "chezmoi"
brew "cowsay"
brew "doggo"
brew "fastfetch"
brew "fish"
brew "gh"
brew "go-task/tap/go-task"
brew "gsed"
brew "htop"
brew "jq"
brew "lsd"
brew "lolcat"
brew "moreutils"
brew "netcat"
brew "prettyping"
brew "shellcheck"
brew "starship"
brew "tealdeer"
brew "topgrade"
brew "tree"
brew "viddy"
brew "vim"
brew "yt-dlp"
brew "yq"
brew "zoxide"
cask "1password"
cask "appcleaner"
cask "balance-lock"
cask "balenaetcher"
cask "cyberduck"
cask "devtoys"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "github"
cask "google-chrome"
cask "keka"
cask "kekaexternalhelper"
cask "maccy"
cask "microsoft-auto-update"
cask "microsoft-excel"
cask "microsoft-onenote"
cask "microsoft-outlook"
cask "microsoft-powerPoint"
cask "microsoft-teams"
cask "microsoft-word"
cask "onedrive"
cask "onyx"
cask "orbstack"
cask "postman"
cask "profilecreator"
cask "silentknight"
cask "visual-studio-code"
cask "windows-app"

{{- if (.kubernetes) }}
tap "fluxcd/tap"
tap "siderolabs/tap"
brew "age"
brew "cilium-cli"
brew "cloudflared"
brew "fluxcd/tap/flux"
brew "gum"
brew "helm"
brew "helmfile"
brew "just"
brew "k9s"
brew "krew"
brew "kubecolor"
brew "kubeconform"
brew "kubernetes-cli"
brew "kustomize"
brew "lefthook"
brew "minijinja-cli"
brew "mise"
brew "sops"
brew "stern"
brew "talhelper"
brew "siderolabs/tap/talosctl"
brew "yamlfmt"
brew "yamllint"
{{- end }}

{{- if (eq .chezmoi.os "darwin") }}
brew "dockutil"
brew "mas"
cask "1password-cli"
{{- end }}

{{- if (not .isWorkComputer) }}
cask "curseforge"
cask "discord"
cask "ea"
cask "epic-games"
cask "feed-the-beast"
cask "gog-galaxy"
cask "moonlight"
cask "netnewswire"
cask "obsidian"
cask "parsec"
cask "prismlauncher"
cask "steam"
mas "1Password for Safari", id: 1569813296
mas "Amazon Kindle", id: 302584613
mas "ColorSlurp", id: 1287239339
mas "Developer", id: 640199958
mas "Discovery", id: 1381004916
mas "GoodNotes", id: 1444383602
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Sink It for Reddit", id: 6449873635
mas "Steam Link", id: 1246969117
mas "uBlock Origin Lite", id: 6745342698
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
{{- end }}
