tap "fluxcd/tap"
tap "go-task/tap"
tap "siderolabs/tap"
brew "age"
brew "atuin"
brew "bat"
brew "chezmoi"
brew "cilium-cli"
brew "cloudflared"
brew "cowsay"
brew "doggo"
brew "fastfetch"
brew "fish"
brew "fluxcd/tap/flux"
brew "gh"
brew "go-task/tap/go-task"
brew "gsed"
brew "gum"
brew "helm"
brew "helmfile"
brew "htop"
brew "jq"
brew "just"
brew "k9s"
brew "krew"
brew "kubecolor"
brew "kubeconform"
brew "kubernetes-cli"
brew "kustomize"
brew "lefthook"
brew "lolcat"
brew "lsd"
brew "minijinja-cli"
brew "mise"
brew "moreutils"
brew "mtr"
brew "netcat"
brew "prettyping"
brew "shellcheck"
brew "siderolabs/tap/talosctl"
brew "sops"
brew "starship"
brew "stern"
brew "talhelper"
brew "tealdeer"
brew "topgrade"
brew "tree"
brew "viddy"
brew "vim"
brew "yamlfmt"
brew "yamllint"
brew "yq"
brew "yt-dlp"
brew "zoxide"
cask "1password"
cask "appcleaner"
cask "balance-lock"
cask "balenaetcher"
cask "cyberduck"
cask "devtoys"
cask "font-fira-code-nerd-font"
cask "ghostty"
cask "github"
cask "google-chrome"
cask "imazing-profile-editor"
cask "keepingyouawake"
cask "keka"
cask "kekaexternalhelper"
cask "lm-studio"
cask "logos"
cask "microsoft-auto-update"
cask "microsoft-excel"
cask "microsoft-onenote"
cask "microsoft-outlook"
cask "microsoft-powerPoint"
cask "microsoft-teams"
cask "microsoft-word"
cask "onedrive"
cask "onyx"
cask "orbstack"
cask "silentknight"
cask "soundanchor"
cask "stats"
cask "utm"
cask "visual-studio-code"
cask "wireshark-app"

{{- if (eq .chezmoi.os "darwin") }}
brew "dockutil"
brew "mas"
cask "1password-cli"
{{- end }}

{{- if (not .isWorkComputer) }}
cask "discord"
cask "ea"
cask "epic-games"
cask "gog-galaxy"
cask "hytale"
cask "netnewswire"
cask "nvidia-geforce-now"
cask "prismlauncher"
cask "steam"
mas "1Password for Safari", id: 1569813296
mas "Amazon Kindle", id: 302584613
mas "ColorSlurp", id: 1287239339
mas "Developer", id: 640199958
mas "Discovery", id: 1381004916
mas "Keynote", id: 361285480
mas "Numbers", id: 361304891
mas "Pages", id: 361309726
mas "Sink It for Reddit", id: 6449873635
mas "Steam Link", id: 1246969117
mas "uBlock Origin Lite", id: 6745342698
mas "WireGuard", id: 1451685025
mas "Xcode", id: 497799835
{{- end }}
