{{ $packages := list
  "code"
  "containerd.io"
  "docker-buildx-plugin"
  "docker-ce-cli"
  "docker-ce"
  "docker-compose-plugin"
  "gnome-shell-extension-appindicator"
  "gnome-shell-extension-blur-my-shell"
  "gnome-shell-extension-caffeine"
  "gnome-shell-extension-dash-to-dock"
  "gnome-shell-extension-drive-menu"
  "gnome-tweaks"
  "google-chrome-stable"
  "https://dbeaver.io/files/dbeaver-ce-latest-stable.x86_64.rpm"
  "https://github.com/xpipe-io/xpipe/releases/latest/download/xpipe-installer-linux-x86_64.rpm"
  "info"
  "lens"
  "pam-u2f"
  "pamu2fcfg"
  "telnet"
  "virt-manager" -}}

{{ if (.hasNvidia) -}}
{{   $packages = concat $packages (list
      "akmod-nvidia"
      "libva-nvidia-driver.{i686,x86_64}"
      "xorg-x11-drv-nvidia-cuda") -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

# https://rpmfusion.org/Howto/Multimedia
{{ template "sudo.tmpl" . }}dnf swap -y ffmpeg-free ffmpeg --allowerasing
{{ template "sudo.tmpl" . }}dnf update -y @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin

{{ template "sudo.tmpl" . }}dnf install -y {{ $packages | join " " }}

# https://www.reddit.com/r/Fedora/comments/1olj9a2/i_cant_use_microsoft_fonts_after_updating_to
{{ template "sudo.tmpl" . }}rpm --nodigest -i https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm
