{{ $repos := list
  "https://download.docker.com/linux/fedora/docker-ce.repo"
  "https://downloads.k8slens.dev/rpm/lens.repo" -}}

{{   $repos = concat $repos (list
      (joinPath .chezmoi.sourceDir "/../assets/repos/google-chrome.repo")
      (joinPath .chezmoi.sourceDir "/../assets/repos/vscode.repo")) -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ range $repos }}
{{- if not (hasPrefix "http" .) }}
# repofile hash: {{ include . | sha256sum }}
{{- end }}
{{ template "sudo.tmpl" $ }}dnf config-manager addrepo --overwrite --from-repofile={{ . }}
{{ end }}
