{{ $copr := list
  "mavit/discover-overlay" -}}

{{ if .kde -}}
{{   $copr = mustAppend $copr "kylegospo/wallpaper-engine-kde-plugin" -}}
{{ end -}}

{{ if eq .chezmoi.hostname "kc-workstation" -}}
{{   $copr = mustAppend $copr "lizardbyte/stable" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ range $copr }}
{{ template "sudo.tmpl" $ }}dnf copr enable -y {{ . }}
{{ end }}
