{{ $repos := list
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/assets/repos/1password.repo"
  "https://download.docker.com/linux/fedora/docker-ce.repo"
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/assets/repos/google-chrome.repo"
  "https://downloads.k8slens.dev/rpm/lens.repo"
  "https://raw.githubusercontent.com/caycehouse/dotfiles/main/assets/repos/vscode.repo" -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

{{ range $repos }}
{{ template "sudo.tmpl" $ }}dnf config-manager addrepo --overwrite --from-repofile={{ . }}
{{ end }}
