{{ $packages := list
  "1password-cli"
  "1password"
  "akmod-nvidia"
  "code"
  "containerd.io"
  "discover-overlay"
  "docker-buildx-plugin"
  "docker-ce-cli"
  "docker-ce"
  "docker-compose-plugin"
  "google-chrome-stable"
  "https://dbeaver.io/files/dbeaver-ce-latest-stable.x86_64.rpm"
  "https://downloads.sourceforge.net/project/mscorefonts2/rpms/msttcore-fonts-installer-2.6-1.noarch.rpm"
  "https://github.com/xpipe-io/xpipe/releases/latest/download/xpipe-installer-linux-x86_64.rpm"
  "info"
  "lens"
  "libva-nvidia-driver.{i686,x86_64}"
  "lutris"
  "mangohud"
  "steam"
  "telnet"
  "virt-manager"
  "xorg-x11-drv-nvidia-cuda" -}}

{{ if .gnome -}}
{{   $packages = concat $packages (list
      "gnome-shell-extension-appindicator"
      "gnome-shell-extension-blur-my-shell"
      "gnome-shell-extension-caffeine"
      "gnome-shell-extension-dash-to-dock"
      "gnome-shell-extension-drive-menu"
      "gnome-tweaks") -}}
{{ end -}}

{{ if .kde -}}
{{   $packages = mustAppend $packages "wallpaper-engine-kde-plugin" -}}
{{ end -}}

{{ if eq .chezmoi.hostname "kc-workstation" -}}
{{   $packages = mustAppend $packages "Sunshine" -}}
{{ end -}}

#!{{ lookPath "bash" }}

set -eufo pipefail

# https://rpmfusion.org/Howto/Multimedia
{{ template "sudo.tmpl" . }}dnf swap -y ffmpeg-free ffmpeg --allowerasing
{{ template "sudo.tmpl" . }}dnf4 update -y @multimedia --setopt="install_weak_deps=False" --exclude=PackageKit-gstreamer-plugin

{{ template "sudo.tmpl" . }}dnf install -y {{ $packages | join " " }}
