# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

[character]
error_symbol = "[λ](bold #ff5555)"
success_symbol = "[λ](bold #50fa7b)"

[cmd_duration]
style = "bold #f1fa8c"

[directory]
home_symbol = " "
read_only = " 󰌾"
style = "bold #50fa7b"
truncation_length = 8

[docker_context]
symbol = " "

[git_branch]
style = "bold #ff79c6"
symbol = " "

[git_commit]
only_detached = false
style = "bold #6272A4"
tag_symbol = " "

[git_status]
style = "bold #ff5555"

[hostname]
style = "bold #bd93f9"

[kubernetes]
disabled = false
symbol = "󱃾 "
format = '\[[$symbol$context( \($namespace\))]($style)\] '
style  = "bold #8BE9FD"

[python]
format = '\[[${symbol}${pyenv_prefix}(${version})(\($virtualenv\))]($style)\]'
style = 'bold #F1FA8C'
symbol = " "

[username]
format = "[$user]($style) on "
style_user = "bold #8be9fd"
