set -gx XDG_CACHE_HOME $HOME/.cache
set -gx XDG_CONFIG_HOME $HOME/.config
set -gx XDG_DATA_HOME $HOME/.local/share
set -gx XDG_STATE_HOME $HOME/.local/state

set -gx KUBE_EDITOR vim
set -gx VISUAL "code --wait"
set -gx EDITOR vim
set -gx GOPATH {{ .chezmoi.homeDir }}/.go
set -gx ANSIBLE_FORCE_COLOR true
set -gx ANSIBLE_HOST_KEY_CHECKING False
set -gx PY_COLORS true
set -gx GPG_TTY (tty)
set -gx LANG en_US.utf-8
set -Ux FZF_DEFAULT_OPTS "\
--color=bg+:#ccd0da,bg:#eff1f5,spinner:#dc8a78,hl:#d20f39 \
--color=fg:#4c4f69,header:#d20f39,info:#8839ef,pointer:#dc8a78 \
--color=marker:#dc8a78,fg+:#4c4f69,prompt:#8839ef,hl+:#d20f39"

{{ if (lookPath "bat") -}}
set -gx MANPAGER "sh -c 'sed -u -e \"s/\\x1B\[[0-9;]*m//g; s/.\\x08//g\" | bat -p -lman'"
{{ end -}}

fish_add_path --global "{{ .chezmoi.homeDir }}/.local/bin"
fish_add_path --global "{{ .chezmoi.homeDir }}/.cargo/bin"
fish_add_path --global "{{ .chezmoi.homeDir }}/.krew/bin"
fish_add_path --global "{{ .chezmoi.homeDir }}/.go/bin"
